<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="UEApp.Droid.UEApp.Droid" android:installLocation="internalOnly" android:versionCode="1" android:versionName="1.0.0.0">
	<uses-sdk android:minSdkVersion="24" />
	<application android:label="campusLoop" android:icon="@drawable/ic_launcher">
		<provider android:name="android.support.v4.content.FileProvider" android:authorities="UEApp.fileprovider" android:exported="false" android:grantUriPermissions="true">
			<meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/file_paths"></meta-data>
		</provider>
	</application>
</manifest>